name: flutter_pull_to_refresh_2
description: a widget provided to the flutter scroll component drop-down refresh and pull up load.
version: 1.0.0
homepage: https://github.com/xxzj990-game/flutter_pulltorefresh

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
